<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>56</string>
					<key>EndingLineNumber</key>
					<string>43</string>
					<key>StartingColumnNumber</key>
					<string>20</string>
					<key>StartingLineNumber</key>
					<string>41</string>
					<key>Timestamp</key>
					<string>718661392.284011</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/Core/Auth/View/RegistrationView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>// FIXME: Add strength meter and password requirements
                    #warning("Create new View for password")
                    SecureField("Enter your password", text: $password)
                        .modifier(IGTextFieldModifier())</string>
				<key>leading</key>
				<string>                        .modifier(IGTextFieldModifier())
                        
                    </string>
				<key>trailing</key>
				<string>
                    
                    TextField("Enter your full name", text: $fullname)
</string>
			</dict>
			<key>title</key>
			<string>Add strength meter and password requirements (create new view)</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
