<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>54</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>53</string>
					<key>Timestamp</key>
					<string>727439804.864369</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/App/ScribbleLabApp.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    try? Tips.resetDatastore()
</string>
				<key>leading</key>
				<string>                .environmentObject(ContentViewModel())
                .task {
</string>
				<key>trailing</key>
				<string>                    try? Tips.configure([
                        .datastoreLocation(.applicationDefault)
                    ])
</string>
			</dict>
			<key>title</key>
			<string>DEV: Only for Testing purposes</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>35</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>34</string>
					<key>Timestamp</key>
					<string>727537767.3031321</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/Core/Tips/SLTip.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            event.donations.count &lt; 7
</string>
				<key>leading</key>
				<string>        
        #Rule(Self.launchHomeScreenEvent) { event in
</string>
				<key>trailing</key>
				<string>        }
    }
}
</string>
			</dict>
			<key>title</key>
			<string>TODO: Display tip after visiting the screen 3 times until max 7 time</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>58</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>57</string>
					<key>Timestamp</key>
					<string>727537767.3031189</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/Core/Tips/SLTip.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    
</string>
				<key>leading</key>
				<string>                title: "Configure Notifications",
                perform: {
</string>
				<key>trailing</key>
				<string>                }
            )
        ]
</string>
			</dict>
			<key>title</key>
			<string>TODO: Redirect to the NotificationSettings</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>63</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>62</string>
					<key>Timestamp</key>
					<string>727618033.803708</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/Core/Home/HomeView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    viewModifier.newNotification.toggle()
</string>
				<key>leading</key>
				<string>                        await ShowNotificationsTip.visitNotificationViewEvent.donate()
                    }
</string>
				<key>trailing</key>
				<string>                } label: {
                    Image(systemName: viewModifier.newNotification ? "bell.badge" : "bell")
                }
</string>
			</dict>
			<key>title</key>
			<string>Only for Development</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>43</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>42</string>
					<key>Timestamp</key>
					<string>727618033.803688</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/Core/Home/HomeView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        print("DEBUG: Create new document from Templates")
</string>
				<key>leading</key>
				<string>                    }
                    Button("Create from Template") {
</string>
				<key>trailing</key>
				<string>                    }
                } message: {
                    Text("Select how you'd like to create a new document.")
</string>
			</dict>
			<key>title</key>
			<string>TODO: Adding slCreateDocument from Template</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>78</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>77</string>
					<key>Timestamp</key>
					<string>727640301.579347</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/Core/Settings/View/Help/View/SLHelpView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        openURL(URL(string: "https://github.com/ScribbleLabApp/ScribbleLab")!)
</string>
				<key>leading</key>
				<string>                    
                    Button {
</string>
				<key>trailing</key>
				<string>                    } label: {
                        Label("Guide", systemImage: "character.book.closed")
                    }
</string>
			</dict>
			<key>title</key>
			<string>TODO: Replace Link</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
