<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>49</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>48</string>
					<key>Timestamp</key>
					<string>723932729.436185</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/App/ScribbleLabApp.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    try? Tips.resetDatastore()
</string>
				<key>leading</key>
				<string>                .environmentObject(ContentViewModel())
                .task {
</string>
				<key>trailing</key>
				<string>                    try? Tips.configure([
                        .datastoreLocation(.applicationDefault)
                    ])
</string>
			</dict>
			<key>title</key>
			<string>DEV: Only for Testing purposes</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>34</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>33</string>
					<key>Timestamp</key>
					<string>723913027.6197799</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/Core/Tips/SLTip.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            event.donations.count &lt; 7
</string>
				<key>leading</key>
				<string>        
        #Rule(Self.launchHomeScreenEvent) { event in
</string>
				<key>trailing</key>
				<string>        }
    }
}
</string>
			</dict>
			<key>title</key>
			<string>TODO: Display tip after visiting the screen 3 times until max 7 time</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>60</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>56</string>
					<key>Timestamp</key>
					<string>723921041.56607</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/Core/Tips/SLTip.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    
</string>
				<key>leading</key>
				<string>                title: "Configure Notifications",
                perform: {
</string>
				<key>trailing</key>
				<string>                }
            )
        ]
</string>
			</dict>
			<key>title</key>
			<string>TODO: Redirect to the NotificationSettings</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>72</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>71</string>
					<key>Timestamp</key>
					<string>724436392.016798</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/Core/Home/HomeView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        viewModifier.newNotification.toggle()
</string>
				<key>leading</key>
				<string>                            await ShowNotificationsTip.visitNotificationViewEvent.donate()
                        }
</string>
				<key>trailing</key>
				<string>                    } label: {
                        Image(systemName: viewModifier.newNotification ? "bell.badge" : "bell")
                    }
</string>
			</dict>
			<key>title</key>
			<string>Only for Development</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>51</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>50</string>
					<key>Timestamp</key>
					<string>724436392.016821</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ScribbleLab/ScribbleLab/Core/Home/HomeView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                           print("DEBUG: Create new document from Templates")
</string>
				<key>leading</key>
				<string>                        }
                        Button("Create from Template") {
</string>
				<key>trailing</key>
				<string>                        }
                    } message: {
                        Text("Select how you'd like to create a new document.")
</string>
			</dict>
			<key>title</key>
			<string>TODO: Adding slCreateDocument from Template</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
